*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html{
font-size: 62.5%;
}

body{
font-size:1.6 rem;
background: #A9A9A9;
color: 	#000000
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

.topnav-item {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-item:hover:not(.topnav-main-item) {
  background-color: #ddd;
}

.topnav-main-item {
    color: white;
  background-color: #04AA6D;
}
