*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
font-size:1.6 rem;
background: #A9A9A9;
color: 	#000000
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

.topnav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-item:hover:not(.topnav-main-item) {
  background-color: #111;
}

.topnav-main-item {
  background-color: #04AA6D;
}
