*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html{
font-size: 62.5%;
}

body{
background: #FFFFFF;
color: 	#000000;
font-family: Georgia, serif;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

.topnav-item {
  display: block;
  color: #666;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 1.5rem;
}

.topnav-item:hover:not(.topnav-main-item) {
  background-color: #ddd;
}

.topnav-main-item {
    color: white;
  background-color: #04AA6D;
  font-size: 2rem;
}

.main-content-container{
    padding-top: 20px;
}

.main-title h1{
font-size: 30px;
color: green;
}

.main-image{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 4px;
max-width: 100%;
}

.title-paragraph{
font-size: 15px;
text-align: center;
}


