{% extends "base.html" %}

{% block title %} Exercises {% endblock title %}

{% block content %}
<div class="exercises-grid">
    {% if exercises %}
        {% for exercise in exercises %}
            <a href="#">
                <div class="exercise-line">
                    {% if exercise.photo %}
                    <img src="{{ exercise.photo.url }}" alt="{{exercise.muscular_group}} - {{exercise.name_exercise}}">
                    {% else %}
                        <p class="no-photo"> Foto não disponível </p>
                    {% endif %}
                    <p>{{ exercise.series }} series / {{ exercise.reps }}</p>
                </div>
            </a>
    {% endfor %}
    {% else %}
        <p class="no-results"> Nenhum Exercício encontrado! </p>
    {% endif %}
    </div>
{% endblock %}